<h1>
  Add a new checkin
</h1>


<hr>

<form action="/create_checkin" method="post">

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <input type="text" id="description" name="description" class="form-control">
  </div>

  <div class="form-group">
    <label for="lat">
      Lat
    </label>

    <input type="text" id="lat" name="lat" class="form-control">
  </div>

  <div class="form-group">
    <label for="lng">
      Lng
    </label>

    <input type="text" id="lng" name="lng" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create checkin
  </button>
</form>

<hr>

<a href="/checkins">
  Go back
</a>

<script>
  var latInput = document.getElementById("lat");
  var lngInput = document.getElementById("lng");

  function getLocation() {
    navigator.geolocation.getCurrentPosition(showPosition);
  }

  function showPosition(position) {
    latInput.value = position.coords.latitude;
    lngInput.value = position.coords.longitude;
  }

  getLocation();
</script>
